<div (click)="detailsEvent(contact)" *ngFor="let contact of contacts; trackBy:trackBy"
  class="list-group-item list-group-item-action contact-item d-flex">
  <div class="col-1" hidden>
    <img src="" alt="" class="photo img img-thumbnail" />
  </div>
  <div class="details col-8">
    <h5 class="noms">{{contact.prenom}} {{contact.nom}}</h5>
    <h6 class="poste">
      <i class="fa fa-tag" aria-hidden="true"></i>
      {{contact.poste}}
    </h6>
  </div>
  <h6 class="phone col-3">
    <i class="fa fa-phone" aria-hidden="true"></i>
    {{contact.telephone}}
  </h6>
</div>
