.contact-item {
  border-left: none;
  border-right: none;
  padding: 15px;
  cursor: pointer;
  width: 100%;
}
.contact-item .photo {
  height: 50px;
  width: 50px;
  border-radius: 60px;
}
.contact-item .noms {
  font-size: 18px;
}
.contact-item .poste {
  font-size: 13px;
  font-weight: normal;
  color: #969191;
}
.contact-item .phone {
  font-size: 13px;
  font-weight: normal;
  margin-top: 20px;
  text-align: right;
}
