<app-navbar></app-navbar>
<div class="contact-layout">
  <div class="card col-lg-8 col-sm-100 m-auto">
    <div class="card-body">
      <div class="d-flex toolbar">
        <div class="col-10">
          <div class="form-group col-8">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <input #search (keyup)="searchContact(search.value)" class="form-control" type="search" name="password"
                placeholder="Nom, numéro de téléphone" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default addContactbtn" [routerLink]="['/contact/create']">
            <i class="fa fa-user" aria-hidden="true"></i>
            Nouveau contact
          </button>
        </div>
      </div>
      <div class="contact-box">
        <app-list-contact [contacts]="contacts"></app-list-contact>
      </div>
    </div>
  </div>
</div>
