<div class="signup-layout col-12">
  <div class="signup-panel col-7 m-auto">
    <h2 class="formTitle col-12 text-center mb-3">Inscription</h2>
    <form id="logForm" [formGroup]="formGroup" class="m-auto col-5">
      <div class="form-group">
        <input class="form-control" required type="text" formControlName="lastname" placeholder="Nom"
          autocomplete="off" name="lastname">
      </div>
      <div class="form-group">
        <input class="form-control" required type="text" formControlName="firstname" placeholder="Prénom"
          autocomplete="off" name="firstname">
      </div>
      <div class="form-group">
        <input class="form-control" required type="text" formControlName="username" placeholder="Nom d'utilisateur"
          autocomplete="off" name="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" formControlName="password"
          placeholder="Mot de passe" required>
      </div>

      <div id="errorMessage" *ngIf="errorMessage" [ngClass]="errorMessage.cssClass">{{errorMessage.text}}</div>
      <div [hidden]="!isLoading" class="loaderContainer">
        <div class="loadBox d-block m-auto">
          <i class="fa fa-spinner fa-spin m-auto" aria-hidden="true"></i>
        </div>
      </div>
      <button id="valideBtn" type="submit" [disabled]="isLoading" form="logForm" class="btn btn-primary col-12" (click)="singupEvent()">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
      <div class="signupOption">
        <a [routerLink]="['/login']">Se connecter</a>
      </div>
    </form>
  </div>
</div>
