.signup-layout {
  background-color: #f4f4f4 !important;
  width: 100%;
  height: 100vh;
  padding-top:50px
}
.signup-layout .signup-panel {
  background-color: #fff;
  padding: 70px;
}

.signup-panel form input {
  font-size: 14px !important;
  height: 42px;
  margin-bottom: 12px;
}
.signup-panel form input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da;
}

.signup-panel .formTitle {
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
  margin-bottom: 20px !important;
}

.signup-panel form #valideBtn {
  background: linear-gradient(to bottom, #e1e1e1, #b8b8b8);
  color: #717171;
  border: 1px solid #e9e9e9;
  font-size: 18px;

  height: 42px;
}
.signup-panel form #valideBtn:focus {
  box-shadow: none !important;
}
.signup-panel .loaderContainer {
  font-size: 25px;
}
.signup-panel .loaderContainer .loadBox {
  max-width: 10px;
}

.signup-panel .signupOption {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
}
.signup-panel .signupOption a {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
  font-weight: bold;
}
.signup-panel #errorMessage{
  font-size: 13px;
}
