.login-layout {
  background-color: #f4f4f4 !important;
  width: 100%;
  height: 100vh;
}
.login-layout .login-panel {
  background-color: #fff;
  height: 80vh;
  padding-top: 70px;
}
.login-panel form .input-group-text {
  background-color: transparent !important;
  padding-right: 5px;
  color: #9b9b9b;
}

.login-panel form input {
  border-left: none !important;
  font-size: 14px !important;
  height: 42px;
}
.login-panel form input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da;
}

.login-panel .formTitle {
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
  margin-bottom: 20px !important;
}

.login-panel form #valideBtn {
  background: linear-gradient(to bottom, #e1e1e1, #b8b8b8);
  color: #717171;
  border: 1px solid #e9e9e9;
  font-size: 18px;

  height: 42px;
}
.login-panel form #valideBtn:focus {
  box-shadow: none !important;
}
.login-panel .loaderContainer {
  font-size: 25px;
}
.login-panel .loaderContainer .loadBox {
  max-width: 10px;
}

.login-panel .signupOption {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
}
.login-panel .signupOption a {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #717171;
  text-shadow: 0 0 1px rgba(160, 160, 160, 0.5);
  font-weight: bold;
}
.login-panel #errorMessage {
  font-size: 13px;
}
