<div class="login-layout col-12">
  <div class="card login-panel col-7 m-auto fixed-bottom">
    <div class="card-body">
      <h2 class="formTitle col-12 text-center mb-3">Se connecter</h2>
      <form id="logForm" [formGroup]="formGroup" class="m-auto col-5">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            <input class="form-control" type="text" name="username" formControlName="username"
              placeholder="Nom d'utilisateur" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <input class="form-control" type="password" name="password" formControlName="password"
              placeholder="Mot de passe">
          </div>
        </div>
        <div *ngIf="errorMessage" [ngClass]="errorMessage.cssClass">{{errorMessage.text}}</div>
        <div [hidden]="!isLoading" class="loaderContainer">
          <div class="loadBox d-block m-auto">
            <i class="fa fa-spinner fa-spin m-auto" aria-hidden="true"></i>
          </div>
        </div>
        <button id="valideBtn" type="submit" [disabled]="isLoading" form="logForm" class="btn btn-primary col-12"
          (click)="onLoginEvent()">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
        <div class="signupOption">
          Besoin d'un compte? <a [routerLink]="['/signup']">cliquer ici</a>
        </div>
      </form>
    </div>
  </div>
</div>
