<app-navbar></app-navbar>
<div class="contact-details">
  <div class="card col-lg-8 col-sm-100 m-auto">
    <div class="card-body">
      <div class="d-flex toolbar">
        <div class="col-10">
          <div class="form-group col-8">
            <h5>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              contact
            </h5>
          </div>
        </div>
        <div class="form-group d-flex">
          <button class="btn btn-default addContactbtn mr-1" (click)="removeContact()">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default addContactbtn mr-1" (click)="editContact()">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default addContactbtn" [routerLink]="['/contact']">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-12">
        <div [hidden]="!isLoading" class="loaderContainer">
          <div class="loadBox d-block m-auto">
            <i class="fa fa-spinner fa-spin m-auto" aria-hidden="true"></i>
          </div>
          <h6 class="loaderMessage text-center">{{message}}</h6>
        </div>
      </div>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Nom</td>
              <td>{{contact.nom}}</td>
            </tr>
            <tr>
              <td>Prénom</td>
              <td>{{contact.prenom}}</td>
            </tr>
            <tr>
              <td>N° Tél</td>
              <td>{{contact.telephone}}</td>
            </tr>
            <tr>
              <td>Adresse email</td>
              <td>{{contact.email}}</td>
            </tr>
            <tr>
              <td>Poste</td>
              <td>{{contact.poste}}</td>
            </tr>
            <tr>
              <td>Entreprise</td>
              <td>{{contact.entreprise}}</td>
            </tr>
            <tr>
              <td>Adresse de l'entreprise</td>
              <td>{{contact.adresse_entreprise}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
