.contact-details {
  margin-top: 20px;
}
.contact-details .toolbar {
  padding: 10px;
}
.contact-details .toolbar input {
  border-left: none !important;
  font-size: 14px !important;
  height: 42px;
}
.contact-details .toolbar .input-group-text {
  background-color: transparent !important;
  padding-right: 5px;
  color: #9b9b9b;
}
.contact-details .toolbar input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da;
}
.contact-details .addContactbtn {
  background-color: #e8853d !important;
  color: #fff !important;
  font-size: 14px;
  margin-right: 4px;
}
.contact-details .toolbar .addContactbtn:focus {
  box-shadow: none !important;
  border: 1px solid #ffffff;
}
.contact-details .loaderContainer {
  font-size: 25px;
}
.contact-details .loaderContainer .loadBox {
  max-width: 10px;
}

