/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.modal-holder {
  animation-name: nc;
  animation-duration: 0.3s;
}

@keyframes nc {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
