<app-navbar></app-navbar>
<div class="contact-form">
  <div class="card col-lg-8 col-sm-100 m-auto">
    <div class="card-body">
      <div class="d-flex toolbar">
        <div class="col-11">
          <div class="form-group col-8">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <h5>Edite contact</h5>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default addContactbtn" [routerLink]="['/contact']">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <form id="contactForm" class="col-7 m-auto" [formGroup]="formGroup">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nom" placeholder="Nom">
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom">
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="poste" placeholder="Poste">
        </div>
        <br>
        <div class="form-group">
          <input type="phone" class="form-control" formControlName="telephone" placeholder="Contact">
        </div>
        <br>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Adresse email">
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="entreprise" placeholder="Nom de l'entreprise">
        </div>
        <br>
        <div class="form-group">
          <label for="adresseEntreprise">Adresse de l'entreprise</label>
          <textarea id="adresseEntreprise" formControlName="adresse_entreprise" name="adresseEnterprise" class="form-control">

          </textarea>
        </div>
        <div id="errorMessage" *ngIf="errorMessage" [ngClass]="errorMessage.cssClass">{{errorMessage.text}}</div>
        <div [hidden]="!isLoading" class="loaderContainer">
          <div class="loadBox d-block m-auto">
            <i class="fa fa-spinner fa-spin m-auto" aria-hidden="true"></i>
          </div>
        </div>
        <button type="submit" [disabled]="isLoading"  class="btn btn-default addContactbtn mt-3 float-end" (click)="updateContactEvent()">
          <i class="fa fa-check" aria-hidden="true"></i> Valider
        </button>
      </form>
    </div>
  </div>
</div>
