<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ZORO ANNUAIRE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">

      </div>
      <form action="">
        <div class="nav-item dropdown">
          <div id="login_menu_box" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img id="login_menu_btn" class=" img img-thumbnail">
            <div>{{username}}</div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end login_menu" aria-labelledby="login_menu_box">
            <li class="dropdown-item" [routerLink]="['/user/edit']">Editer</li>
            <li class="dropdown-item " (click)="deconnectEvent()">Se déconnecter</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
