.navbar #login_menu_btn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: block;
  margin-right: 20px;
}
.navbar .login_menu {
  margin-left: 10px !important;
}
.navbar .login_menu li{
  cursor: pointer
}
